<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StampaSagra.Properties.Settings.PolpetLaSagraConnectionString"
            connectionString="Data Source=10.2.0.94;Initial Catalog=PolpetLaSagra;Persist Security Info=True;User ID=pls"
            providerName="System.Data.SqlClient" />
        <add name="StampaSagra.Properties.Settings.PolpetLaSagraConnectionStringNew"
            connectionString="Data Source=10.200.200.187;Initial Catalog=PolpetLaSagra;User ID=sa_pls;Password=130193npABC"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
